@inject IJSRuntime _IJSRuntime


<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (DangerChildContent!=null)
        {
            <span>@DangerChildContent</span>
        }
        else if (childContent!=null)
        {

                <span>@childContent</span>
        }
        else
        {
            <span> Hello, From Empty Render Fragment</span>
        }
    </div>
    <buton class="btn btn-danger" @onclick="OnButtonClick">Buton To be clicked</buton>

    <_GrandChildComponent></_GrandChildComponent>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment childContent {get; set;}

    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    public async Task ToastrSuccess()
    {
        await _IJSRuntime.ToastrSuccess("Succeful Message");
    }
}
